<template>
<div class='p-4'>
    <nuxt-link
      class='mr-3 text-base rounded py-2 px-4 bg-indigo-200 text-indigo-600 font-semibold'
      :to="`/topic/${category}`"
      v-for="(values, category) in all_feeds"
      :key='category'>
      {{category}}
    </nuxt-link>
</div>
</template>

<script>
export default {
    data(){
      return {
        all_feeds: require('~/assets/feeds.json')
      }
    }
}

</script>
<style scoped>

</style>
