<template>
  <div class='overflow-scroll h-screen bg-gray-100 w-full inline-flex items-center justify-around'>
    <div>
      <h1 class='text-5xl font-bold'> Uutissovellus  </h1>
      <div class='my-6'>
        <categoryButtons />
      </div>
    </div>
  </div>
</template>
