<template>
<div>
 <!--kun errori-->
  <div v-show='error' class='min-h-screen bg-red-50 text-red-700 p-10 text-6xl font-bold inline-flex justify-around w-full items-center'>
    <div>
      <p> {{error}} </p>
      <p class='my-5 text-sm text-black'>
        Available categories:
        <categoryButtons />
      </p>
    </div>
  </div>

<!--normi tilanteessa-->
<div v-show="!error" >

  <div class='bg-gray-800 w-full py-2 px-12 inline-flex items-center sticky top-0'>
    <nuxt-link to="/" class='text-lg text-indigo-200'>Home</nuxt-link>
    <categoryButtons />
  </div>

  <div class='p-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-3'>
           <!--eri media -->
          <div v-for='feed in feeds' :key='feed'>
            <rss-widget :feed="`https://api.rss2json.com/v1/api.json?rss_url=${feed}&api_key=${client_api_key}`">

              <template v-slot:feed_header="slotProps">
                <h2 class='text-2xl font-bold my-3'>{{slotProps.rssfeed.title}}</h2>
              </template>

              <template v-slot:feed_body="slotProps">
                <ul class='space-y-6' >

                   <!-- eri artikkelit -->
                  <li class='rounded-lg p-4 border shadow bg-gray-50 border-gray-200' v-for="(article,i) in slotProps.items" :key="i">
                    <div class="card">
                      <div class="card-header">
                          <a  :href="article.link" target="_blank" class='cursor-pointer text-indigo-600 font-bold text-xl mb-3'>{{article.title}}</a>
                      </div>
                      <div class="card-body text-gray-600 text-xs" v-html='article.description'></div>
                    </div>
                  </li>
                </ul>
              </template>
            </rss-widget>
          </div>
  </div>
  </div>
</div>
</template>

<script>
import RssWidget from "vue-rss-widget"
export default {
    components: { RssWidget },
    data(){
      return {
        client_api_key:"vsynbvrx7qaj5gay6nevpwofw7zgorijmr84wcfc",
        error:null,
        all_feeds: require('~/assets/feeds.json')
      }
    },
    // tää ajetaan aina kun sivu refreshataan
    computed:{
      feeds(){
          this.error = null
          const current_topic = this.$route.params.topic
          const this_category_feeds = this.all_feeds[current_topic] || []
          if (this_category_feeds.length === 0){
            this.error = `"${this.$route.params.topic}" is not a valid category`
          }
          return this_category_feeds
      }
    }

}
</script>
